* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#wrap {
  line-height: 100%;
  height: auto;
  background-color: #f5f5f5;
  color: #757575;
}
#wrap > #layout {
  min-width: 400px;
  min-height: 480px;
  max-width: 854px;
  margin: 0 auto;
  background-color: #fff;
}
